name: CLI Tests

on:
  push:
    paths:
      - "cli/**"
  pull_request:
    paths:
      - "cli/**"

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./cli
    steps:
      - uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: npm

      - name: Install dependencies
        run: |
          cd ..
          npm ci --ignore-scripts

      - name: Build core package
        working-directory: .
        run: npm run build-core

      - name: Build test package
        working-directory: .
        run: npm run build-test

      - name: Build CLI
        working-directory: .
        run: npm run build-cli

      - name: Run tests
        run: npm test
        env:
          NPM_CONFIG_YES: true
          CI: true
